@import "../variables";

.page {
  font-size: 1rem;
  margin: 0;
  padding: 2em 8vw;
  min-height: calc(100% - 3.3em);
  background-color: #f8f8f8;

  h1 {
    margin-top: 0;
    font-size: calc(30px + 2vw);
  }
}
